<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=ADRIAN-PC;Initial Catalog=ZaraCMS;Integrated Security=False;User ID=techromix;Password=techromix;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EcfSqlConnection" connectionString="Data Source=ADRIAN-PC;Initial Catalog=ZaraCommerce;User ID=techromix;Password=techromix;Application Name=Zara.Admin" providerName="System.Data.SqlClient" />
</connectionStrings>